configs/pufsConfigurations/PufsConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FPGA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="PUFInstance">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type" type="xs:unsignedByte" />
              <xs:element name="description">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="500"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="phyAddress" type="xs:string" />
              <xs:element name="ipSize" type="xs:string" />
              <xs:element name="ctrlRegOff" type="xs:string" />
              <xs:element name="ctrlValue" type="xs:string" />
              <xs:element name="readyRegOff" type="xs:string" />
              <xs:element name="chalSize" type="xs:integer" />
              <xs:element name="chalRegOff">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="regOff" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="respSize" type="xs:integer" />
              <xs:element name="respRegOff">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="regOff" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="countSize" type="xs:integer" />
              <xs:element name="count1RegOff">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="regOff" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="count2RegOff">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="regOff" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>