configs/expsConfigurations/ExpsConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exps">
    <xs:complexType>
      <xs:sequence>
        <!-- Permetti 0 o più occorrenze di RangeExp -->
        <xs:element name="RangeExp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="puf_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="id" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="challenge_bits_width" type="xs:integer" />
              <xs:element name="step" type="xs:integer" />
              <xs:element name="num_exps" type="xs:integer" />
              <xs:element name="exp_interperiod_m" type="xs:integer" />
              <xs:element name="queries_interperiod_s" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Permetti 0 o più occorrenze di ListExp -->
        <xs:element name="ListExp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="puf_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="id" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="challenges_list">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="challenge" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="num_exps" type="xs:integer" />
              <xs:element name="exp_interperiod_m" type="xs:integer" />
              <xs:element name="queries_interperiod_s" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Permetti 0 o più occorrenze di RandomExp -->
        <xs:element name="RandomExp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="puf_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="id" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="challenges_range" type="xs:integer" />
              <xs:element name="random_seed" />
              <xs:element name="num_exps" type="xs:integer" />
              <xs:element name="exp_interperiod_m" type="xs:integer" />
              <xs:element name="num_challenges" type="xs:integer" />
              <xs:element name="queries_interperiod_s" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
